html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
  font-family: "Calibri";
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
  background-color: #31e7f8;
  font-family: 'Maven Pro', sans-serif;
}

.container {
  width: 100%;
  height:100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
.search {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}


.search .search-input,
.search .search-button {
  border: 0;
  padding: 1em;

}

.search .search-input {
  width: 100%;
}

.search .search-button {
   cursor: pointer;
}
.error {
  display: none;
  font-size: 1.5em;
}

.pokemon {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  color: white; 
}
.pokemon-picture{
  display: flex;
  flex-direction: column;
  float: left;
  height: 190%;
  width: 12%;
  margin-right: 5%;
  min-height: 100px;
}
.pokemon-picture .text{
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}
.text2{
  margin-left: 5%;
  
  font-size: 1.2em;
  font-weight: bold;
}
.pokemon-picture img {
  width: 160%;
  margin-top: 7%;  
  

}
.pokemon-image2 img{
  width: 18%;
  height: 190%;
  margin: 4px;
  padding: 5px;
  
  
}

 .pokemon-info {
  width: 55%;
  margin-left: 3%;
  margin-right: 0.8%;
  background-color: #ffffff;
  float: left;
 
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em;
}
.pokemon-info strong{
  font-weight: bold;
}

.pokemon-info ul {
  list-style-image: url("../poke-ball.png");
  margin-left: 5%;
  
  
}

.pokemon-info .abilities,
.pokemon-info .weight,
.pokemon-info .height,
.pokemon-info .species,
.pokemon-info .types,
.pokemon-info .moves,
.pokemon-info .held,
.pokemon-info .stats {
  width: 100%;
  padding: .5em .2em;
  font-size: 1.7em;
  text-align:justify;
  width: 100%;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.6;
  
}
.pokemon-info .name {
  font-size: 2.5em;
  text-align: center;
  color: rgb(0, 0, 0); 
  font-weight: bold;
  text-transform: capitalize;
}
.pokemon-info .number{
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}



.fade {
  animation: fadeEfect 4s;
}



@media(min-width: 758px) {
  .pokemon { 
    flex-direction: row;  
  }
}

@keyframes fadeEfect{
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
